{{- if and .Values.crowdsieve.enabled .Values.crowdsieve.dashboard.apiKey }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crowdsieve.fullname" . }}-dashboard
  labels:
    {{- include "crowdsieve.labels" . | nindent 4 }}
type: Opaque
stringData:
  api-key: {{ .Values.crowdsieve.dashboard.apiKey | quote }}
{{- end }}
---
{{- if and .Values.crowdsieve.enabled .Values.crowdsieve.geoip.enabled .Values.crowdsieve.geoip.maxmindLicenseKey }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crowdsieve.fullname" . }}-geoip
  labels:
    {{- include "crowdsieve.labels" . | nindent 4 }}
type: Opaque
stringData:
  license-key: {{ .Values.crowdsieve.geoip.maxmindLicenseKey | quote }}
{{- end }}
---
{{- if and .Values.crowdsieve.enabled (eq .Values.crowdsieve.storage.type "postgres") .Values.crowdsieve.storage.postgres.password (not .Values.crowdsieve.storage.postgres.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crowdsieve.fullname" . }}-postgres
  labels:
    {{- include "crowdsieve.labels" . | nindent 4 }}
type: Opaque
stringData:
  password: {{ .Values.crowdsieve.storage.postgres.password | quote }}
{{- end }}
---
{{- if and .Values.crowdsec.enabled (eq (default "sqlite" .Values.crowdsec.lapi.database.type) "postgres") .Values.crowdsec.lapi.database.postgres.password (not .Values.crowdsec.lapi.database.postgres.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crowdsieve.fullname" . }}-crowdsec-postgres
  labels:
    {{- include "crowdsieve.labels" . | nindent 4 }}
type: Opaque
stringData:
  password: {{ .Values.crowdsec.lapi.database.postgres.password | quote }}
{{- end }}
---
{{- if and .Values.crowdsec.enabled .Values.crowdsec.lapi.bouncers }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crowdsieve.fullname" . }}-crowdsec-bouncers
  labels:
    {{- include "crowdsieve.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- range .Values.crowdsec.lapi.bouncers }}
  bouncer-key-{{ .name }}: {{ .key | quote }}
  {{- end }}
{{- end }}
---
{{- if and .Values.crowdsec.enabled (or .Values.crowdsec.lapi.credentials.username .Values.crowdsec.lapi.credentials.password) (not .Values.crowdsec.lapi.credentials.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crowdsieve.fullname" . }}-crowdsec-credentials
  labels:
    {{- include "crowdsieve.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if .Values.crowdsec.lapi.credentials.username }}
  username: {{ .Values.crowdsec.lapi.credentials.username | quote }}
  {{- end }}
  {{- if .Values.crowdsec.lapi.credentials.password }}
  password: {{ .Values.crowdsec.lapi.credentials.password | quote }}
  {{- end }}
{{- end }}
