{{- if and .Values.crowdsieve.enabled .Values.crowdsieve.dashboard.apiKey }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crowdsieve.fullname" . }}-dashboard
  labels:
    {{- include "crowdsieve.labels" . | nindent 4 }}
type: Opaque
stringData:
  api-key: {{ .Values.crowdsieve.dashboard.apiKey | quote }}
{{- end }}
---
{{- if and .Values.crowdsieve.enabled .Values.crowdsieve.geoip.enabled .Values.crowdsieve.geoip.maxmindLicenseKey }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crowdsieve.fullname" . }}-geoip
  labels:
    {{- include "crowdsieve.labels" . | nindent 4 }}
type: Opaque
stringData:
  license-key: {{ .Values.crowdsieve.geoip.maxmindLicenseKey | quote }}
{{- end }}
